extends ../core/layout.pug
block headcontent
	link(href='/index/index.css' rel='stylesheet')

block bodycontent
	main.container(role='main')
		.starter-template
			h1 ThatSoo Company, Inc
			p.lead 뭐 할지 생각해 봅시다.

