doctype html
html
	head
		include ../base/head.pug
		link(href='/index/index.css' rel='stylesheet')

	body.text-center
		.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
			header.masthead.mb-auto
				.inner
					h3.masthead-brand ThatSoo
					nav.nav.nav-masthead.justify-content-center
						a.nav-link(href='/home') Home
						a.nav-link(href='#') Features
						a.nav-link(href='#') Contact
						a.nav-link.active(href='login') Log in
			main.inner.cover(role='main')
				img.mb-4(src='/image/logo-round-bg-white.png' alt='' width='96' height='96')
				p.lead
					| 한탕주의, 인생은 한 방.
				p.lead
					| 그 한 방을 위한 개짓거리.
				
			include ../base/centerfooter.pug