doctype html
html
	head
		include ../core/head.pug

		// Custom styles for this template
		link(href='/login/login.css' rel='stylesheet')

	body.text-center
		form.form-signin
			a(href='/')
				img.mb-4(src='/image/logo-round-bg-dark.png' alt='' width='96' height='96')
			h1.h3.mb-3.font-weight-normal Please sign in
			label.sr-only(for='inputEmail') ID
			input#inputEmail.form-control(type='email' placeholder='ID' required='' autofocus='')
			label.sr-only(for='inputPassword') Password
			input#inputPassword.form-control(type='password' placeholder='Password' required='')
			.checkbox.mb-3
				label
					input(type='checkbox' value='remember-me') 
					|  Remember me

			button.btn.btn-lg.btn-secondary.btn-block(type='submit') Sign in
			button.btn.btn-lg.btn-dark.btn-block(onclick='location.href="/login/signup"') Sign up

			include ../core/centerfooter.pug
			
