footer.footer.mt-auto.py-3
	.container
		p
			img(src='/image/logo-bg-white.png' alt='' width='24' height='24')
			|  &copy; 2015-2020 ThatSoo Company, Inc. 
		p
			a(href='/home/about') About
			|  &middot; 
			a(href='/home/privacy') Privacy
			|  &middot; 
			a(href='/home/terms') Terms