doctype html
html.h-100
	head
		include ../base/head.pug
		// Some pages do not inherit layout.pug
		link(href='/base/layout.css' rel='stylesheet')

		// Custom styles
		block head

	body.d-flex.flex-column.h-100
		include ../base/header.pug

		block content

		include ../base/footer.pug
		include ../base/script.pug

		// Custom scripts
		block script