extends ../core/layout.pug

block head
	link(href='/ranking/ranking.css' rel='stylesheet')

block content
	
	.nav-scroller.bg-white.shadow-sm
		nav.nav.nav-underline
			a.nav-link.active(href='#') Dashboard
			a.nav-link(href='#')
				| Friends
				span.badge.badge-pill.bg-light.align-text-bottom 27
			a.nav-link(href='#') Explore
			a.nav-link(href='#') Suggestions
			a.nav-link(href='#') Link
			a.nav-link(href='#') Link
			a.nav-link(href='#') Link
			a.nav-link(href='#') Link
			a.nav-link(href='#') Link

	main.container(role='main')
		.d-flex.align-items-center.p-3.my-3.text-white-50.bg-dark.rounded.shadow-sm
			img.mr-3(src='/image/logo-round-bg-white.svg' alt='' width='48' height='48')
			.lh-100
				h6.mb-0.text-white.lh-100 ThatSoo Company, Inc.
				small Since 2014
		
		.my-3.p-3.bg-white.rounded.shadow-sm
			h6.border-bottom.border-gray.pb-2.mb-0 Recent updates
			.media.text-muted.pt-3
				svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
					title Placeholder
					rect(width='100%' height='100%' fill='#007bff')
					text(x='50%' y='50%' fill='#007bff' dy='.3em') 32x32
				p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
					strong.d-block.text-gray-dark @username
					|         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			.media.text-muted.pt-3
				svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
					title Placeholder
					rect(width='100%' height='100%' fill='#e83e8c')
					text(x='50%' y='50%' fill='#e83e8c' dy='.3em') 32x32
				p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
					strong.d-block.text-gray-dark @username
					|         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			.media.text-muted.pt-3
				svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
					title Placeholder
					rect(width='100%' height='100%' fill='#6f42c1')
					text(x='50%' y='50%' fill='#6f42c1' dy='.3em') 32x32
				p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
					strong.d-block.text-gray-dark @username
					|         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			small.d-block.text-right.mt-3
				a(href='#') All updates
		
		.my-3.p-3.bg-white.rounded.shadow-sm
			h6.border-bottom.border-gray.pb-2.mb-0 Suggestions
			.media.text-muted.pt-3
				svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
					title Placeholder
					rect(width='100%' height='100%' fill='#007bff')
					text(x='50%' y='50%' fill='#007bff' dy='.3em') 32x32
				.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
					.d-flex.justify-content-between.align-items-center.w-100
						strong.text-gray-dark Full Name
						a(href='#') Follow
					span.d-block @username
			.media.text-muted.pt-3
				svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
					title Placeholder
					rect(width='100%' height='100%' fill='#007bff')
					text(x='50%' y='50%' fill='#007bff' dy='.3em') 32x32
				.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
					.d-flex.justify-content-between.align-items-center.w-100
						strong.text-gray-dark Full Name
						a(href='#') Follow
					span.d-block @username
			.media.text-muted.pt-3
				svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
					title Placeholder
					rect(width='100%' height='100%' fill='#007bff')
					text(x='50%' y='50%' fill='#007bff' dy='.3em') 32x32
				.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
					.d-flex.justify-content-between.align-items-center.w-100
						strong.text-gray-dark Full Name
						a(href='#') Follow
					span.d-block @username
			small.d-block.text-right.mt-3
				a(href='#') All suggestions

block script
	script(src='offcanvas.js')

