extends ../core/base.pug
block headcontent
	link(href='/index/index.css' rel='stylesheet')

block bodycontent
	main.container(role='main')
		.starter-template
			h1 ThatSoo Company, Inc
			p.lead &#xBB50;&#xD560;&#xC9C0; &#xC0DD;&#xAC01;&#xD574; &#xBD05;&#xC2DC;&#xB2E4;.
		
