footer.mastfoot.mt-auto.my-5.pt-5.text-muted
	p.mb-1 &copy; 2015-2020 ThatSoo Company, Inc.
	ul.list-inline
		a(href='#') About 
		| &middot; 
		a(href='#') Privacy 
		| &middot; 
		a(href='#') Terms