footer.footer.mt-auto.py-3
	.container
		p.float-right
			a(href='#') Back to top
		p
			| &copy; 2015-2020 ThatSoo Company, Inc. 
			a(href='/home/about') About
			|  &middot; 
			a(href='/home/privacy') Privacy
			|  &middot; 
			a(href='/home/terms') Terms