doctype html
html
	head
		include ../core/head.pug
		// Custom styles for this template
		block headcontent

	body
		include ../core/header.pug

		block bodycontent

		include ../core/footer.pug
		include ../core/script.pug
