doctype html
html
	head
		include ../core/head.pug
		// Custom styles
		block head

	body
		include ../core/header.pug

		block content

		include ../core/footer.pug
		include ../core/script.pug

		// Custom scripts
		block script