doctype html
html.h-100
	head
		include ../core/head.pug
		// Custom styles
		block head

	body.d-flex.flex-column.h-100
		include ../core/header.pug

		block content

		include ../core/footer.pug
		include ../core/script.pug

		// Custom scripts
		block script